[user]
name = Farshad Hatami
email = 76130454+frshaad@users.noreply.github.com
[alias]
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
defaultBranch = main
